@font-face {
  font-family: "Colonna MT";
  src: url("./assets/ColonnaMT.woff2") format("woff2"),
    url("./assets/ColonnaMT.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}
#root {
  width: 100%;
  height: 100%;
}

.music {
  visibility: hidden;
}

.App {
  height: 100%;
  background-image: url("./assets/welcome.jpg");
  background-size: cover;
  position: relative;
}

.kidsparty {
  font-family: bello-pro, sans-serif;
  font-size: 50px;
  margin: 0;
}

.display .enter {
  position: relative;
  left: 0px;
  top: -70px;
  font-size: 30px;
  font-family: Colonna MT, sans-serif;
}

.enter {
  text-decoration: none;
  color: goldenrod;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    color: goldenrod;
  }
  80% {
    color: goldenrod;
    visibility: hidden;
  }
  100% {
    color: goldenrod;
    visibility: hidden;
  }
}

.App .display {
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;
  text-align: center;
}

/*basic info */

.page_content {
  background-color: black;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
}

#container {
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
}

#container img {
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Ellipse_1 {
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 251, 251) 0%,
    rgb(255, 255, 255) 0%,
    rgb(196, 133, 58) 0%,
    rgba(231, 203, 173, 0) 0%,
    rgba(255, 251, 251, 0) 0%
  );
  width: 120px;
  height: 120px;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(107%, -205%);
  text-decoration: none;
}

.basicInfoLink {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 40px;
  color: rgb(27, 16, 10);
  text-shadow: rgb(196, 133, 58);
  font-family: annabelle-jf, sans-serif;
}

.Ellipse_2 {
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 251, 251) 0%,
    rgb(255, 255, 255) 0%,
    rgb(232, 49, 17) 0%,
    rgba(231, 203, 173, 0) 60%,
    rgba(255, 251, 251, 0) 100%
  );
  width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -178%);
  text-decoration: none;
}

.Ellipse_3 {
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 251, 251) 0%,
    rgb(255, 255, 255) 0%,
    rgb(253, 211, 135) 0%,
    rgba(231, 203, 173, 0) 60%,
    rgba(255, 251, 251, 0) 100%
  );
  width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-245%, -75%);
  text-decoration: none;
}

.Ellipse_Photos {
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 251, 251) 0%,
    rgb(255, 255, 255) 0%,
    rgb(222, 13, 0) 0%,
    rgba(231, 203, 173, 0) 60%,
    rgba(255, 251, 251, 0) 100%
  );
  width: 180px;
  height: 180px;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(114%, -8%);
  text-decoration: none;
}

#container .GrinchHand {
  position: absolute;
  left: -50px;
  transform: scale(3);
  opacity: 0;
  animation: noiseIn 4s 15s linear, noiseOut 4s 33s linear;
  -webkit-animation: noiseIn 4s 15s linear, noiseOut 4s 33s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#container .GrinchHand2 {
  position: absolute;
  left: -50px;
  transform: scale(3);
  opacity: 0;
  animation: noiseIn 4s 54s linear, noiseOut 4s 77s linear;
  -webkit-animation: noiseIn 4s 54s linear, noiseOut 4s 77s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes noiseIn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes noiseOut {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  62% {
    opacity: 1;
  }
  63% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noiseIn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  62% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes noiseOut {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  7% {
    opacity: 0.1;
  }
  10% {
    opacity: 0.7;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  23% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }

  53% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  57% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  62% {
    opacity: 1;
  }
  63% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
